<!-- Copy the template -->

<!-- Extend Layout -->
{% extends '../layout.html' %}

<!-- Load Static -->
{% load static %}

<!-- Metas -->
{% block metas %}
<title>Login | InnSight - Elevating Hospitality, One Stay.</title>
<meta
  name="description"
  content="Login | InnSight - Elevating Hospitality, One Stay."
/>
<meta
  name="keywords"
  content="Login | InnSight - Elevating Hospitality, One Stay."
/>

<meta
  property="og:title"
  content="Login | InnSight - Elevating Hospitality, One Stay."
/>
<meta
  property="og:description"
  content="Login | InnSight - Elevating Hospitality, One Stay."
/>
{% endblock metas %}

<!-- Links -->
{% block links %} {% endblock links %}

<!-- Content -->
{% block content %} {% endblock content %}

<!-- Scripts -->
{% block scripts %} {% endblock scripts %}
