<!-- Extend Layout -->
{% extends '../layout.html' %}

<!-- Load Static -->
{% load static %}

<!-- Crispy Form -->
{% load crispy_forms_tags %}

<!-- Metas -->
{% block metas %}
<title>Forgot Password | InnSight - Elevating Hospitality, One Stay.</title>
<meta
  name="description"
  content="Forgot Password | InnSight - Elevating Hospitality, One Stay."
/>
<meta
  name="keywords"
  content="Forgot Password | InnSight - Elevating Hospitality, One Stay."
/>

<meta
  property="og:title"
  content="Forgot Password | InnSight - Elevating Hospitality, One Stay."
/>
<meta
  property="og:description"
  content="Forgot Password | InnSight - Elevating Hospitality, One Stay."
/>
{% endblock metas %}

<!-- Links -->
{% block links %} {% endblock links %}

<!-- Content -->
{% block content %}

<div class="container">
  <div class="row">
    <div class="col-lg-5 mx-auto">
      <div class="card">
        <div class="card-body">
          <h4>Forgot Password</h4>
          <h6>
            Please enter the email address you used to register with us and we
            will send you a link to reset your password
          </h6>
          <form method="POST" class="mt-4">
            {% csrf_token %}
            <!-- Fields -->
            {{ form|crispy }}
            <button type="submit" class="btn btn-primary">
              Send Password Reset Link
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

<!-- Scripts -->
{% block scripts %} {% endblock scripts %}
