<!-- Extend Layout -->
{% extends '../layout.html' %}

<!-- Load Static -->
{% load static %}

<!-- Crispy Form -->
{% load crispy_forms_tags %}

<!-- Metas -->
{% block metas %}
<title>
  Password Reset Completed | InnSight - Elevating Hospitality, One Stay.
</title>
<meta
  name="description"
  content="Password Reset Completed | InnSight - Elevating Hospitality, One Stay."
/>
<meta
  name="keywords"
  content="Password Reset Completed | InnSight - Elevating Hospitality, One Stay."
/>

<meta
  property="og:title"
  content="Password Reset Completed | InnSight - Elevating Hospitality, One Stay."
/>
<meta
  property="og:description"
  content="Password Reset Completed | InnSight - Elevating Hospitality, One Stay."
/>
{% endblock metas %}

<!-- Links -->
{% block links %} {% endblock links %}

<!-- Content -->
{% block content %}

<div class="container">
  <div class="row">
    <div class="col-lg-5 mx-auto">
      <div class="card">
        <div class="card-body">
          <h4>Password reset complete</h4>
          <h6>Your Password has been set. You may go ahead and login.</h6>
          <a href="{% url 'accounts:login' %}" class="btn btn-primary mt-4">
            Login
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

<!-- Scripts -->
{% block scripts %} {% endblock scripts %}
